//import sources
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

//colors
$primary: #5c62c5;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;

//texts
$font-family: 'Poppins', sans-serif;
